<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
  <style>
    .cimg{
      width: 15%;
      float: left;
      height: 200px;
    }
    .content{
      height: 200px;
      margin-top: 35px;
      display: inline-block;
    }
    .cha{
      display: block;
      width: 100%;
    }
    img{
      width: 150px;
      height: 150px;
    }
  </style>
</head>
<body>
<button>
  <a href="/shop" style="text-decoration: none">shop</a>
</button>

<h1>Your Cart</h1>
<form th:action="@{/shop}" th:object="${cart}" method="post">
  <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h3>
  <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>

  <div th:each="product: ${cart.products}">
    <div class="cha">
      <div class="cimg">
        <img th:src="${product.getKey().img}" alt="">
      </div>
      <div class="content">
        Tên sản phẩm : <h4 th:text="${product.getKey().name}" style="display: inline"></h4>
        <br>
        Mã sản phẩm : <h4 th:text="${product.getKey().id}" style="display: inline"></h4>
        <br>
        Gía : <h4 th:text="${product.getKey().price}" style="display: inline"></h4>
        <br>
        Số lượng : <div style="display: inline">
        <a id="decrease_button" th:text="${'-'}"></a>
        <span th:text="${product.getValue()}"></span>
        <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"
           th:text="${'+'}"></a>
      </div>

      </div>
    </div>
    <hr>

  </div>

  <div>
    Total <h3 th:text="${cart.countTotalPayment()}"></h3>
  </div>

<!--  <table border="1">-->
<!--    <tr>-->
<!--      <th>Item</th>-->
<!--      <th>Quantity</th>-->
<!--      <th>Price</th>-->
<!--    </tr>-->

<!--    <tr th:each="product: ${cart.products}">-->
<!--      <td th:text="${product.getKey().name}"></td>-->
<!--      <td>-->
<!--        <a id="decrease_button" th:text="${'-'}"></a>-->
<!--        <span th:text="${product.getValue()}"></span>-->
<!--        <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"-->
<!--           th:text="${'+'}"></a>-->
<!--      </td>-->
<!--      <td th:text="${product.getKey().price}"></td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--      <td>Total</td>-->
<!--      <td></td>-->
<!--      <td th:text="${cart.countTotalPayment()}"></td>-->
<!--    </tr>-->
<!--  </table>-->
</form>
</body>
</html>