<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="createmanage" method="post" th:object="${manage}">
    <table>
        <tr>
            <td>Tên sách</td>
        </tr>
        <tr>
            <td ></td>
        </tr>
        <tr>
            <td>Người mượn</td>
        </tr>
        <tr>
            <td>
                <input type="text" th:field="${manage.nameUser}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="date" th:field="${manage.date}">
            </td>
        </tr>
        <tr>
            <td>
                <button>
                    Mượn
                </button>
            </td>
        </tr>

    </table>
</form>

</body>
</html>