<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Chi tiết cuốn sách</h1>
    <form th:object="${book}">
        <table>
            <tr><th>Mã sách</th></tr>
            <tr><th th:text="${book.id}"></th></tr>
            <tr><th th:text="${book.name}"></th></tr>
            <tr><th th:text="${book.author}"></th></tr>
            <tr><th th:text="${book.quantity}"></th></tr>
            <tr>
                <th>
                    <button>
                        <a th:href="@{/createmanage}">Mượn</a>
                    </button>
                </th>
            </tr>
            <tr>
                <th>
                    <button>
                        <a th:href="@{/list}" style="text-decoration: none">Quay lại trang list</a>
                    </button>
                </th>
            </tr>
        </table>
    </form>
</body>
</html>