<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>

<button>
    <a th:href="@{/createbook}" style="text-decoration: none">Create a new Book</a>
</button>
<button>
    <a th:href="@{/listmanage}">List mượn sách</a>
</button>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Quantity</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
        <tr th:each="book: ${books}" th:object="${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.quantity}"></td>
            <td>
                <button>
                    <a th:href="@{/{id}/delete(id=${book.id})}" style="text-decoration: none">Delete</a>
                </button>
                <button>
                    <a th:href="@{/list}"></a>
                </button>
            </td>
            <td>
                <button>
                    <a th:href="@{/{id}/detail(id=${book.id})}" style="text-decoration: none">Detail</a>
                </button>
            </td>
        </tr>
    </table>
</body>
</html>