<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>
<body>
<button>
    <a th:href="@{/list}" style="text-decoration: none">Quay lại trang list blog</a>
</button>
<table>
    <tr>
        <th>Id</th>
        <th>Name Category</th>
        <th>Id book</th>
    </tr>
    <tr th:each="manage:${manage}" th:object="${manage}">
        <td th:text="${manage.id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{book.id}"></td>
    </tr>
    <tr>
        <td>
            <button>
                <a th:href="@{/{id}/delete(id=${manage.id})}" style="text-decoration: none">Trả sách</a>
            </button>
        </td>
    </tr>
</table>

</body>
</html>